<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Welcome to HuddleUp, <%= @user.name %></h3>
<p>
  You have been invited to join the project <%= @project.name %>.
</p>
<p>
  To accept this invitation, just follow this link: <br /><%= @url %>.
</p>
<p>Thanks for huddling up with your team!</p>
</body>
</html>
