<%= form_for [@project, @issue], :html => {:class => 'smart-form', :id => 'project_form'} do |f| %>
    <% if @issue.errors.any? %>
        <div id="error_explanation" class='alert alert-error'>
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <h4>Ooops, <%= pluralize(@issue.errors.count, "error") %> prohibited this todo from being saved:</h4>

          <ul>
            <% @issue.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>


    <fieldset>
      <div class='row'>
        <section>
          <label class="label">Description</label>
          <label class="textarea"><textarea rows="4" name="issue[description]" id="issue_description"><%= @issue.description %></textarea> </label>
        </section>
      </div>
    </fieldset>

    <footer>
      <button type="submit" class="btn btn-success">
        Save
      </button>
    </footer>

<% end %>

