<%= form_for [@project, @invitation], :html => {:class => 'smart-form', :id => 'invitation_form'} do |f| %>
    <% if @invitation.errors.any? %>
        <div id="error_explanation" class='alert alert-error'>
          <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
          <h4>Ooops, <%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h4>

          <ul>
            <% @invitation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

    <% end %>

    <fieldset>
      <section>
        <label class="label">Name</label>
        <label class="input">
          <input class='input-lg' type="text" name="name" placeholder="Name..." id='name'>
          </label>
      </section>

      <section>
        <label class="label">Email</label>
        <label class="input">
          <input class='input-lg' type="email" name="email" placeholder="Email..." id='email'>
          </label>
      </section>

    </fieldset>

    <footer>
      <button type="submit" class="btn btn-success">
        Invite!
      </button>
    </footer>

<% end %>

