<div class='breadcrumbs' id="breadcrumbs">
  <ul class="breadcrumb">
    <li><i class="icon-home"></i> <a href="/projects">Home</a><span class="divider"><i class="icon-angle-right"></i></span></li>

    <% crumbs.each do |c| %>
        <li><a href="<%= c[1] %>"><%= c[0] %></a><span class="divider"><i class="icon-angle-right"></i></span></li>
    <% end %>

    <li class="active"> <%= title %></li>

  </ul>
</div>
