<div id="sidebar">

  <div id="sidebar-shortcuts">
    <div id="sidebar-shortcuts-large">
    </div>
    <div id="sidebar-shortcuts-mini">
    </div>
  </div>
  <!-- #sidebar-shortcuts -->

  <ul class="nav nav-list">

  </ul>
  <!--/.nav-list-->


  <div id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>


</div>
<!--/#sidebar-->
