<%= form_for [@project, @issue, @post], :html => {:class => 'form-horizontal'} do |f| %>

    <div class="control-group" id='post_body_controlGroup'>
      <label class="control-label" for="post_body">Post</label>

      <div class="controls">
        <input type="text" id="post_body" name='post[body]' autofocus="true" value='<%= @post.body %>' class='span8' style='font-size:2em; height:40px; width:300px;'>
      </div>
    </div>

    <div style='display:none;'>
      <button type='submit' class='btn btn-success'><i class="icon-ok"></i> Save</button>
    </div>

<% end %>
