<%= form_for [@project, @issue, @action_item], :html => {:class => 'form-horizontal'} do |f| %>

    <div class="control-group" id='post_body_controlGroup'>
      <label class="control-label" for="post_body">Action Item</label>

      <div class="controls">
        <input type="text" id="action_item_subject" name='action_item[subject]' autofocus="true" value='<%= @action_item.subject %>' class='span8' style='font-size:2em; height:40px; width:300px;'>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="task_points">Assigned To</label>
      <div class="controls">
        <%= select('todo', 'member_id', @project.members.map { |m| [m.user.name, m.id] }, {:include_blank=>' -- Unassigned'}) %>
      </div>
    </div>

    <div style='display:none;'>
      <button type='submit' class='btn btn-success'><i class="icon-ok"></i> Save</button>
    </div>

<% end %>
