<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HuddleUp</title>

  <!-- #Bootstrap Core CSS -->
  <link type="text/css" href="/LandingPage/css/bootstrap.min.css" rel="stylesheet">

  <!-- #SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="/LandingPage/css/extralayers.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/LandingPage/css/settings.css" media="screen">

  <!-- #RELATED CSS -->
  <link type="text/css" href="/LandingPage/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link type="text/css" href="/LandingPage/css/nivo-lightbox.css" rel="stylesheet">
  <link type="text/css" href="/LandingPage/css/nivo-lightbox-theme/default/default.css" rel="stylesheet">
  <link type="text/css" href="/LandingPage/css/animate.css" rel="stylesheet">

  <!-- #SMARTADMIN LANDING CSS -->
  <link type="text/css" href="/LandingPage/css/main.css" rel="stylesheet">
  <link type="text/css" href="/LandingPage/color/default.css" rel="stylesheet">

  <!-- #FAVICONS -->
  <link rel="shortcut icon" href="/LandingPage/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/LandingPage/img/favicon/favicon.ico" type="image/x-icon">

  <!-- #GOOGLE FONT -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

  <link rel="stylesheet" type="text/css" media="screen" href="marketing.css">

</head>

<!--

TABLE OF CONTENTS.

Use search to find needed section.

===================================================================

|  01. #MENU                                                      |
|  02. #INTRO                                                     |
|  03. #PRICING                                                   |
|  04. #TEAM                                                      |
|  05. #FEATURES                                                  |
|  06. #SCREENSHOT                                                |
|  07. #UPDATES                                                   |
|  08. #QUOTES                                                    |
|  09. #CONTACT                                                   |
|  10. #BOTTOM CONTENT                                            |
|  11. #FOOTER                                                    |
|  12. #Core Javascript                                           |
|  13. #REVOLUITION SLIDER                                        |
|  14. #PAGE SCRIPT                                               |

===================================================================

-->

<body data-spy="scroll">

<div class="container">

  <!-- Section: #MENU -->
  <ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
      <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
      <nav class="gn-menu-wrapper">
        <div class="gn-scroller">
          <ul class="gn-menu">
            <li class="gn-search-item">
              <input placeholder="Search" type="search" class="gn-search">
              <a class="gn-icon gn-icon-search"><span>Search</span></a>
            </li>
            <li>
              <a href="#pricing" class="gn-icon gn-icon-download">Pricing</a>
            </li>
            <li>
              <a href="#features" class="gn-icon gn-icon-help">Features</a>
            </li>
            <li>
              <a href="#screenshots" class="gn-icon gn-icon-pictures">Screenshots</a>
            </li>
            <li>
              <a href="#contact" class="gn-icon gn-icon-archive">Contact</a>
            </li>
          </ul>
        </div><!-- /gn-scroller -->
      </nav>
    </li>

    <li class="hidden-xs">
      <a href="#"><img src="/LandingPage/img/logo2.png" alt="logo" style="width: 50px; margin-top: -4px;" /></a>
    </li>

    <li>
      <a href="/users/sign_in">Already a member? Sign in here!</a>
    </li>

    <li>
      <ul class="company-social">
        <li class="social-facebook">
          <a href="javascript:void(0);" target="_blank"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="social-twitter">
          <a href="javascript:void(0);" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
      </ul>
    </li>
  </ul>
  <!-- Section: #MENU -->
</div>

<!-- Section: #INTRO -->
<section id="feature_slider" class="lol">
  <!--
      Each slide is composed by <img> and .info
      - .info's position is customized with css in index.css
      - each <img> parallax effect is declared by the following params inside its class:

      example: class="asset left-472 sp600 t120 z3"
      left-472 means left: -472px from the center
      sp600 is speed transition
      t120 is top to 120px
      z3 is z-index to 3
      Note: Maintain this order of params

      For the backgrounds, you can combine from the bgs folder :D
  -->

  <article class="slide" id="responsive"
           style="background: url('/SmartAdmin/img/backgrounds/indigo.jpg') repeat-x top center;">
    <img class="asset left-572 sp600 t0 z3" src="/SmartAdmin/img/demo/scroll5.jpeg"/>

    <div class="info">
      <h2>
        <strong>Huddle Up!</strong><br/>
        Start huddling with your team.
      </h2>
    </div>
  </article>

  <article class="slide" id="ideas"
           style="background: url('/SmartAdmin/img/backgrounds/aqua.jpg') repeat-x top center;">
    <div class="info">
      <h2>Forget paper, email lists, and spreadsheets. </h2>
      <h4>Cloud-based schedules, todo lists, alerts, and group messages - all in one place.</h4>
    </div>
    <img class="asset left-400 sp600 t260 z1" src="/LandingPage/img/works/calendar.png" width="230" height="200" />
    <img class="asset left-120 sp600 t260 z2" src="/LandingPage/img/works/todos.png" width="230" height="200" />
    <img class="asset left160 sp600 t260 z1" src="/LandingPage/img/works/issues.png" width="230" height="200" />
  </article>

  <article class="slide" id="tour"
           style="background: url('/SmartAdmin/img/backgrounds/color-splash.jpg') repeat-x top center;">
    <img class="asset left-472 sp650 t75 z3" src="/SmartAdmin/img/demo/scroll4.jpeg"/>

    <div class="info">
      <h2>It's all about communication when you HuddleUp.</h2>
    </div>
  </article>

</section>

<!-- /Section: INTRO -->

<!-- Section: #FEATURES -->
<section id="features" class="home-section text-center">

  <div class="heading-about marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          <div class="section-heading">
            <h2>The Power of HuddleUp</h2>
            <p>
              Working on a project with a client? Planning a vacation with your family? <br /> To stay connected, you'll want to HuddleUp.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">

        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-calendar fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Planning</h5>
            <p>
              Keep track of of everything. Be alerted to changes. Adjust plans as needed. Everything is visible.
            </p>
          </div>
        </div>

      </div>
      <div class="col-sm-3 col-md-3">

        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-suitcase fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Simple</h5>
            <p>
              We believe in keeping it as simple as possible. HuddleUp is lightweight, adaptable, and super simple to use.
            </p>
          </div>
        </div>

      </div>
      <div class="col-sm-3 col-md-3">

        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-rocket fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Easy to Use</h5>
            <p>
              Use this anyway you want. Its your project. We give you all the flexibility you could want. You can even run two different projects in different ways!
            </p>
          </div>
        </div>

      </div>
      <div class="col-sm-3 col-md-3">

        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-cloud fa-3x"></i>
          </div>
          <div class="service-desc">
            <h5>Cloud Based</h5>
            <p>
              Mobile-friendly and cloud-based schedules, todo lists, alerts, and reminders - all in one place.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- /Section: FEATURES -->


<!-- Section: #PRICING -->
<section id="pricing" class="home-section text-center">
  <div class="heading-about marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          <div class="section-heading">
            <h2>Pricing</h2>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-success pricing-big">

          <div class="panel-heading">
            <h3 class="panel-title">Personal version</h3>
            <center>&nbsp;</center>
          </div>
          <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <h1>
                <strong>FREE</strong></h1>
            </div>
            <div class="price-features">
              <ul class="list-unstyled text-left">
                <li><i class="fa fa-check text-success"></i> 1 project</li>
                <li><i class="fa fa-check text-success"></i> 1 user</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> tasks</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> issues</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> events</li>
              </ul>
            </div>
          </div>
          <div class="panel-footer text-align-center">
            <a href="/users/sign_up" class="btn btn-primary btn-block" role="button">Sign
              Up</a>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-teal pricing-big">

          <div class="panel-heading">
            <h3 class="panel-title">Silver</h3>
            <center>Ideal for small projects</center>
          </div>
          <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <h1>
                $1<span class="subscript">/ mo</span></h1>
            </div>
            <div class="price-features">
              <ul class="list-unstyled text-left">
                <li><i class="fa fa-check text-success"></i> Free 30-day trial </li>
                <li><i class="fa fa-check text-success"></i> Up to 5 projects</li>
                <li><i class="fa fa-check text-success"></i> Up to 5 users</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> tasks</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> issues</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> events</li>
                <li><i class="fa fa-check text-success"></i> Announcements</li>
              </ul>
            </div>
          </div>
          <div class="panel-footer text-align-center">
            <a href="/users/sign_up" class="btn btn-primary btn-block" role="button">Sign
              Up</a>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-primary pricing-big">
          <img src="img/ribbon.png" class="ribbon" alt="">

          <div class="panel-heading">
            <h3 class="panel-title">Gold</h3>
            <center>Ideal for professional teams</center>
          </div>
          <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <h1>
                $5<span class="subscript">/ mo</span></h1>
            </div>
            <div class="price-features">
              <ul class="list-unstyled text-left">
                <li><i class="fa fa-check text-success"></i> Free 30-day trial </li>
                <li><i class="fa fa-check text-success"></i> Up to 10 projects</li>
                <li><i class="fa fa-check text-success"></i> Up to 10 users</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> tasks</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> issue</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> events</li>
                <li><i class="fa fa-check text-success"></i> Announcements</li>
                <li><i class="fa fa-check text-success"></i> Reminders</li>
                <li><i class="fa fa-check text-success"></i> Alerts</li>
              </ul>
            </div>
          </div>
          <div class="panel-footer text-align-center">
            <a href="/users/sign_up" class="btn btn-primary btn-block" role="button">Sign
              Up</a>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="panel panel-danger pricing-big">

          <div class="panel-heading">
            <h3 class="panel-title">Platinum</h3>
            <center>Ideal for enterprises</center>
          </div>
          <div class="panel-body no-padding text-align-center">
            <div class="the-price">
              <h1>
                $19<span class="subscript">/ mo</span></h1>
            </div>
            <div class="price-features">
              <ul class="list-unstyled text-left">
                <li><i class="fa fa-check text-success"></i> Free 30-day trial </li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> projects</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> users</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> tasks</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> issues</li>
                <li><i class="fa fa-check text-success"></i> <strong>Unlimited</strong> events</li>
                <li><i class="fa fa-check text-success"></i> Announcements</li>
                <li><i class="fa fa-check text-success"></i> Reminders</li>
                <li><i class="fa fa-check text-success"></i> Alerts</li>
              </ul>
            </div>
          </div>
          <div class="panel-footer text-align-center">
            <a href="/users/sign_up" class="btn btn-primary btn-block" role="button">Sign
              Up</a>
          </div>
        </div>

      </div>
    </div>



  </div>
</section>
<!-- /Section: PRICING -->

<!-- Section: #SCREENSHOT -->
<section id="screenshots" class="home-section text-center bg-gray">
  <div class="heading-works marginbot-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

          <div class="section-heading">
            <h2>Screenshots</h2>
            <p>
              Here's a preview of what it's like to use HuddleUp. Remember, it runs on ANY device.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12" >

        <div class="row gallery-item">
          <div class="col-md-3">
            <a href="/LandingPage/img/works/projects.png" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/LandingPage/img/works/1@2x.jpg"> <img src="/LandingPage/img/works/projects.png" class="img-responsive" alt="img" width="651" height="738"> </a>
          </div>
          <div class="col-md-3">
            <a href="/LandingPage/img/works/planner.png" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/LandingPage/img/works/1@2x.jpg"> <img src="/LandingPage/img/works/planner.png" class="img-responsive" alt="img" width="651" height="738"> </a>
          </div>
          <div class="col-md-3">
            <a href="/LandingPage/img/works/todos.png" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/LandingPage/img/works/1@2x.jpg"> <img src="/LandingPage/img/works/todos.png" class="img-responsive" alt="img" width="651" height="738"> </a>
          </div>
          <div class="col-md-3">
            <a href="/LandingPage/img/works/menu.png" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/LandingPage/img/works/1@2x.jpg"> <img src="/LandingPage/img/works/menu.png" class="img-responsive" alt="img" width="100"> </a>
          </div>
          <div class="col-md-3">
            <a href="/LandingPage/img/works/issues.png" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/LandingPage/img/works/1@2x.jpg"> <img src="/LandingPage/img/works/issues.png" class="img-responsive" alt="img" width="651" height="738"> </a>
          </div>
          <div class="col-md-3">
            <a href="/LandingPage/img/works/calendar.png" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="/LandingPage/img/works/1@2x.jpg"> <img src="/LandingPage/img/works/calendar.png" class="img-responsive" alt="img" width="651" height="738"> </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- /Section: SCREENSHOT -->

<!-- #BOTTOM CONTENT -->
<div class="bottom-content" id="contact">
  <div class="container custom-container text-center">
    <h2>It's your project. Own It.</h2>
    <p>
      Organize your time.
      Focus your mind.
      <b>HuddleUp.</b>
    </p>
  </div>
</div>
<!-- /#BOTTOM CONTENT -->

<!-- #FOOTER -->
<footer>

  <div class="footer-content clearfix">
    <div class="container custom-container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <a href="#" class="footer-logo">About Us</a>
          <p>
            At Valhalla Solutions, we believe its best to keep things as simple as you can.
          </p>
          <p>
            With HuddleUp, we've found the right mix between being high-tech savvy and easy to use.
          </p>
          <a href="#" class="learn-more">learn more</a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h3>Recent Tweets</h3>
          <div class="recent-post clearfix">
            <div class="footer-thumb-img">
              <span class="footer-overlay-img"></span>
            </div>
            <p>
              A better way to stay in touch
              <span class="date">November 15, 2014</span>
            </p>

          </div>
          <div class="recent-post clearfix">
            <div class="footer-thumb-img">
              <span class="footer-overlay-img"></span>
            </div>
            <p>
              What's the best way to plan a family vacation?
              <span class="date">November 11, 2014</span>
            </p>

          </div>
          <div class="recent-post clearfix">
            <div class="footer-thumb-img">
              <span class="footer-overlay-img"></span>
            </div>
            <p>
              Collaboration is more important than individual heroics
              <span class="date">November 10, 2014</span>
            </p>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h3>Top Tags</h3>
          <div class="footer-tags">
            <ul>
              <li>
                <a href="#">Collaboration</a>
              </li>
              <li>
                <a href="#">Project Management</a>
              </li>
              <li>
                <a href="#">Team</a>
              </li>
              <li>
                <a href="#">Basecamp</a>
              </li>
              <li>
                <a href="#">Notification</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <h3>Flicker photos (recent)</h3>
          <div class="flicker-widget">
            None
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <p>
            Copyright © 2014 Valhalla Solutions Inc.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- / #FOOTER -->

<!-- # Core JavaScript Files -->

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write('<script src="/LandingPage/js/libs/jquery-2.0.2.min.js"><\/script>');
    }
</script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) {
        document.write('<script src="/LandingPage/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
    }
</script>


<!-- BOOTSTRAP JS -->
<script src="/LandingPage/js/bootstrap/bootstrap.min.js"></script>

<script src="/LandingPage/js/marketing.js"></script>

<!--# JS PLUGINS -->
<script src="/LandingPage/js/plugins/classie.js"></script>
<script src="/LandingPage/js/plugins/gnmenu.js"></script>
<script src="/LandingPage/js/plugins/jquery.scrollUp.js"></script>
<script src="/LandingPage/js/plugins/nivo-lightbox.min.js"></script>
<script src="/LandingPage/js/plugins/smoothscroll.js"></script>
<script src="/LandingPage/js/plugins/jquery.themepunch.plugins.min.js"></script>
<script src="/LandingPage/js/plugins/jquery.themepunch.revolution.min.js"></script>

<!-- # Custom Theme JavaScript -->
<script src="/LandingPage/js/custom.js"></script>

<!-- #PAGE SCRIPT -->
<script type="text/javascript">
    jQuery(document).ready(function() {

    });
    //ready

    $.scrollUp();
</script>



</body>

</html>
